header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
    background-color: #FFFFFF;  
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      display: inline-block;
      margin-right: 1rem;
    }
  
    a {
      text-decoration: none;
      color: #000000;
      transition: color 300ms;
    }
  
    a:hover {
      color: #007bff;
    }
  
    a:focus {
      color: #007bff;
      text-decoration-color: #007bff;
    }
  
    a:active {
      color: #0056b3;
    }
  }
  
  .header-box { 
    padding-left: 1rem;
    padding-right: 1rem; 
  }
  
  .header-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    align-items: center; 
  }